[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/AvinashDhayagude
[access "refs/for/refs/*"]
	read = group user/AvinashDhayagude
	push = group user/AvinashDhayagude
	label-Code-Review = -2..+2 group user/AvinashDhayagude
	label-Verified = -1..+1 group user/AvinashDhayagude
	rebase = group user/AvinashDhayagude
	removeReviewer = group user/AvinashDhayagude
	submit = group user/AvinashDhayagude
[access "refs/heads/*"]
	read = group user/AvinashDhayagude
	create = group user/AvinashDhayagude
	push = +force group user/AvinashDhayagude
	pushMerge = group user/AvinashDhayagude
[access "refs/tags/*"]
	push = +force group user/AvinashDhayagude
	createTag = group user/AvinashDhayagude
	createSignedTag = group user/AvinashDhayagude
